body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #f5fff6;
  color: #124d2b;
}

/* Auth Screens */
.auth-container {
  width: 380px;
  margin: 4rem auto;
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.logo {
  width: 90px;
  margin-bottom: 1rem;
}

.auth-container input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #8bc79f;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background: #2e8b57;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-container button:hover {
  background: #1e6c41;
}

.switch-text {
  margin-top: 14px;
  font-size: 14px;
}

.msg {
  color: red;
  margin-top: 8px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 6px 30px; 
  border-bottom: 1px solid #dfeee3;
}

.header-logo {
  width: 40px;
}

.header nav a {
  margin: 0 14px;
  cursor: pointer;
  font-weight: 500;
}
.user-name {
  margin-right: 12px; 
  font-weight: 500;
}
.logout-btn {
  background: #dc4949;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 100px;
  cursor: pointer;
}

.home-content {
  text-align: center;
  margin-top: 4rem;
}
